/* 사이트 css 설정 */
.div_area {
    background-color: #ffffff;
    width: 95%;
    max-width: 960px;
    margin: auto;
}

.mes_title {
    font-size: 2em;
    font-weight: bold;
}

.mes_cont {
    font-size: 1.5em;
    font-weight: bold;
}

.mes_cele {
    font-size: 1.3em;
    font-weight: bold;
}

.animal_graph {
    height: 30px;
    background: #cccccc;
    border-radius: 30px;
    margin: 0 0 10px;
}


.animal_graph_span {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #ffffff;
    animation: stack 2s 1;
    white-space: nowrap;
    font-weight: bold;
}
@keyframes stack {
    0% {width: 0;}
    100% {width: 75;}
}


/* 사이트 css 설정 */

/* 파일 업로드 css */
body {
    font-family: sans-serif;
    background-color: #ffffff;
    margin: 0;
}

@media screen and (min-width: 900px) {
    .div_area {
        background-color: #ffffff;
        width: 60%;
        
    }
}

.file-upload {
    background-color: #ffffff;
    width: 600px;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #ffffff;
    background: #1fb264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824b;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1aa059;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all 0.2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 1px dashed #191919; /* 테두리 박스 */
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #919191;
    border: 1px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #191919;  /* 박스안 내용 색상 */
    padding: 60px 0;
}

.file-upload-image {
    max-height: 50%;
    max-width: 50%;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 100%;
    background-color: #3587F2;
    color: #ffffff;
    border: 1px solid #3587F2;
    padding: 10px 32px;
    margin: 5px;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: 0 15px 32px #eeeeee;
    transition-duration: 0.1s;
}

.remove-image:hover {
    background-color: #ffffff;
    color: #3587F2;
}

.remove-image:active {
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

/* 파일 업로드 css */

/* sns 공유 버튼 css */
.addthis_inline_share_toolbox {
    padding: 20px 0;
}
/* sns 공유 버튼 css */

/* sns 댓글 창 css */
.disqus_comments {
    padding: 30px 0;
}
/* sns 댓글 창 css */